matplotlib==3.5.0
numpy>=1.23.0  # Use a version of numpy that does not depend on distutils
pandas==2.2.3
plotly==5.24.1
python-pptx==1.0.2
requests==2.32.3
seaborn==0.13.2
streamlit==1.41.1
streamlit-aggrid==1.1.0
